@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    下北泽<br />
    新日暮里<br />
    <abbr title="Phone">P:</abbr>
    114514
</address>

<address>
    <strong>Support:</strong> <a href="mailto:examplet@example.com">examplet@example</a><br />
    <strong>Marketing:</strong> <a href="mailto:examplet@example.com">examplet@example</a>
</address>
