
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<br />
<section>
    <div class="container">
        <div class="content-inner">
            <div class="row">
                @for (int i = 0; i < 13; i++)
                {
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="pic-inner">
                            <img class="pic" src="~/images/tom.jpg" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

