
@{
    ViewData["Title"] = "Index";
}
<br />
<section>
    <div class="container">
        <div class="">
            <div class="row">
                <div class="center-block">
                    <h1 class="text-center page-title">Courses</h1>
                </div>
                @foreach (var item in ViewData["list"]as Dictionary<string,string>)
                {
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="pic-inner over_content over_content-centered div-relative ">
                            <img class="pic-courses div-child" src="@item.Value" />
                            <p class="div-child-text">@item.Key</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

