/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.pic-full {
    max-width: 100%;
    height: auto;
}

.width-full {
    width: 100% !important;
}


/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*Courses Page*/
.content-inner {
    padding: 20px 8% 100px
}

.pic-inner {
    margin-top: 5px;
    margin-bottom: 5px;
}

.pic {
    max-width: 90%;
    height: auto;
}





/*About Page*/
#about-header, section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative
}

#about-header {
    background-attachment: scroll;
    background-image: url(../images/pic1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
#content{
    margin-top:5px;
}

.my-xl-6 {
    margin-top: 4.5rem !important;
    margin-bottom: 4.5rem !important
}

.secondary-navbar {
    z-index: 600;
    border: none;
    min-height: 50px;
}

.position-sticky {
    top: 0px;
    position: sticky;
}

.font-weight-bold {
    font-weight: 700
}

.d-md-flex {
    display: flex !important;
}
.about-school-bg {
    margin:0;
    background: url(../images/tom.jpg) no-repeat 50% center;
    background-size: cover;
    min-height: 505px;
}

.px-0 {
    padding-right: 0px !important;
}

.px-lg-6 {
    padding-left: 4.5rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.divcss {
    word-wrap: break-word
} 